.main {
    background-color: rgb(30, 32, 43);
}

.container .header {
    background-color: #262936;
}

.header a {
    text-decoration: none;
    color: var(--text-card);
}

.header i {
    color: var(--text-card);
}

.header a:hover {
    text-decoration: underline;
}

.contact-details {
    background-color: #262936;
}

.contact-details .map {
    height: 250px;
}

.contact-details .contact-info {
    color: var(--text-card);
    ;
}

.contact-info a {
    color: inherit;
}

.contact-form p{
    color: var(--text-card);
}

.contact-form input , .contact-form textarea{
    background-color: transparent;
    border: 2px solid #393c48;
    color: white;
}

.contact-form input:hover , .contact-form textarea:hover{
    border-color: var(--secondary-color);
}

.contact-form input:focus , .contact-form textarea:focus{
    border-color: var(--secondary-color); 
    outline: none; /* Remove default outline */
}

.contact-form button{
    background-color: var(--secondary-color);
    color: white;
    font-size: 14px;
    padding: 8px;
    padding-inline: 18px !important;
    border-radius: 40px;
    border: none;
    position: absolute;
    right: 0;
    bottom: -50px;
}